<! ------------------------------------------------------------------------------------------------ -->

<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-white-opacity-0_8--after" style="height: 120%; background-image: url(/img/altcoins-1-1920x800.jpg);"></div>
  <!-- End Parallax Image -->

  <div class="container u-bg-overlay__inner text-center g-py-100 g-py-160--md">
    <h2 class="h1 g-color-gray-dark-v1 text-uppercase g-font-weight-600 g-width-60x--md mx-auto g-mb-30">The easiest way to buy cryptocurrency</h2>

    <!-- Search Form -->
    <form>
      <div class="row justify-content-center g-mb-20 g-mb-0--lg">
        <div class="col-lg-8">
          <div id="form-icon-magnifier" class="input-group u-shadow-v21 g-bg-white rounded g-mb-15">
            <div class="input-group-append">
              <span class="input-group-text rounded-0 border-0 g-font-size-16 g-color-gray-light-v1"><i class="icon-magnifier g-pos-rel g-top-1 g-px-1"></i></span>
            </div>
            <input class="form-control form-control-md g-font-size-16 border-0 g-pl-2 g-py-15" type="text" placeholder="Enter your email address" aria-label="Enter your email address" aria-describedby="form-icon-magnifier">
          </div>
        </div>

        <div class="col-lg-2">
          <button class="btn btn-md btn-block u-btn-primary u-shadow-v21 text-uppercase g-py-14" type="submit">Buy Coins</button>
        </div>
      </div>
    </form>
    <!-- End Search Form -->
  </div>
</section>
<!-- Promo Block -->

<! ------------------------------------------------------------------------------------------------ -->

<!-- Icon Blocks -->
<section class="container g-pt-20 g-pb-20">

  <div class="row">
    <div class="col-lg-4 g-mb-30">
      <!-- Icon Blocks -->
      <div class="media g-mb-15">
        <div class="d-flex mr-4">
          <span class="g-color-primary g-font-size-30">
              <i class="fa fa-credit-card"></i>
            </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-color-black g-font-weight-600 mb-20">Buy with credit card</h3>
          <p class="g-color-gray-dark-v4">We accept any credit or debit card from VISA or MasterCard.</p>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Icon Blocks -->
      <div class="media g-mb-15">
        <div class="d-flex mr-4">
          <span class="g-color-primary g-font-size-30">
              <i class="fa fa-tachometer"></i>
            </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-color-black g-font-weight-600 mb-20">High spending limits</h3>
          <p class="g-color-gray-dark-v4">With our limits, you can buy the coins you want without holding back.</p>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Icon Blocks -->
      <div class="media g-mb-15">
        <div class="d-flex mr-4">
          <span class="g-color-primary g-font-size-30">
              <i class="fa fa-paper-plane-o"></i>
            </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-color-black g-font-weight-600 mb-20">Fast-track verification</h3>
          <p class="g-color-gray-dark-v4">Upload your documents, and we will review them within the hour.</p>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Icon Blocks -->
      <div class="media g-mb-15">
        <div class="d-flex mr-4">
          <span class="g-color-primary g-font-size-30">
              <i class="fa fa-dollar"></i>
            </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-color-black g-font-weight-600 mb-20">Get your favorite coins</h3>
          <p class="g-color-gray-dark-v4">Buy bitcoin, ethereum, ripple and other popular cryptocurrencies.</p>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Icon Blocks -->
      <div class="media g-mb-15">
        <div class="d-flex mr-4">
          <span class="g-color-primary g-font-size-30">
              <i class="fa fa-rocket"></i>
            </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-color-black g-font-weight-600 mb-20">Instant delivery</h3>
          <p class="g-color-gray-dark-v4">Place your order, confirm your wallet, get your coins. No deposits required.</p>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Icon Blocks -->
      <div class="media g-mb-15">
        <div class="d-flex mr-4">
          <span class="g-color-primary g-font-size-30">
              <i class="fa fa-handshake-o"></i>
            </span>
        </div>
        <div class="media-body">
          <h3 class="h5 g-color-black g-font-weight-600 mb-20">Support that WOWs</h3>
          <p class="g-color-gray-dark-v4">Our team of Happiness Heroes stands by to help out with anything - any time.</p>
        </div>
      </div>
      <!-- End Icon Blocks -->
    </div>

  </div>
</section>
<!-- End Icon Blocks -->

<! ------------------------------------------------------------------------------------------------ -->

<div class="container" style="margin-bottom:0;margin-top:30px">
    
    <a id="buy_btc"></a>

      <div class="row packagesButtons">
                <div class="col-xs-12 col-sm-5">
                                                
                    <button class="btn btn-package-primary" id="buybtcHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/bitcoin.png" />&nbsp;BTC</button>
                  
                                                                    <button class="btn btn-package-default" id="buyethHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/eth.png" />&nbsp;ETH</button>
                  
                                                                  <button class="btn btn-package-default" id="buyxrpHomeButton"><img width="18px" height="18px" src="https://s3-us-west-2.amazonaws.com/coinmama-assets/ripple.png" />&nbsp;XRP</button>
                  
                                                                  <button class="btn btn-package-default" id="buyltcHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/litecoin.png" />&nbsp;LTC</button>
                  
                                                                  <button class="btn btn-package-default" id="buybchHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/bitcoin_cash.png" />&nbsp;BCH</button>
                  
                                                                  <button class="btn btn-package-default" id="buyqtumHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/qtum.png" />&nbsp;QTUM</button>
                  
                                                                  <button class="btn btn-package-default" id="buyetcHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/etc.png" />&nbsp;ETC</button>
                  
                                        </div>
      
      <div class="vis-medium-small price_seperator">
        <hr />
      </div>

              
          <div class="col-xs-12 col-sm-7 packagesCurrencyButtons">
                                              
                    <button class="btn btn-package-default" id="btcusd">USD</button>
                  
                                                                  <button class="btn btn-package-primary" id="btceur">EUR</button>
                  
                                      </div>
      
        </div>

  <div class="col-md-3 pricing-container" style="text-align: center;">
      <div class="pricing-box pricing-box-nof pricing-box-btc"  data-qty="0.2554695">
          <div class="row">
              <div class="pricing-title">
                                        <h3><span id="qty">0.2554695</span>&nbsp;<span style="text-transform: uppercase">btc</span></h3>
                    
                  
                  <div class="progress price_time">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                  </div>
              </div>
          </div>

          <div style="margin-top: 30px;">
            <div class="row">
                <div class="pricing-price price-row">
                                                            
                                                <h2 style="color: black; font-size: 3em; font-weight: bold;" data-currency="usd">$<span class="price_val" id="price_val_2">1000</span></h2>
                      
                                                                                                            <h2 style="color: black; font-size: 3em; font-weight: bold; display:none;" data-currency="eur" style="display:none;">€<span class="price_val eur_price_val" id="eur_price_val_2">882</span></h2>
                      
                                      
                  <input type="hidden" id="org_price_val_2" value="0">
                </div>
            </div>
            <div class="row">
                <div class="pricing-button">
                                                            
                        <button data-currency="usd" id="buy_usd_2" onclick="location.href='/place_order?type=buy&amp;qty=0.2554695&amp;item=btc&amp;cur=usd&amp;is_pack=true&amp;pack_id=2'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                                                    <button data-currency="eur" id="buy_eur_2" style="display:none;" onclick="location.href='/place_order?type=buy&amp;qty=0.2554695&amp;item=btc&amp;cur=eur&amp;is_pack=true&amp;pack_id=2'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                      </div>
            </div>

            <br />

            <div class="row">

                <strong>



                                    <span class="small">You get
                    <span id="qty_bottom"></span>&nbsp;<span style="text-transform: uppercase">btc</span>
                  
                                
                </strong>
              </span>
            </div>

            <br />


          </div>

      </div>
  </div>
  <div class="col-md-3 pricing-container" style="text-align: center;">
      <div class="pricing-box pricing-box-nof pricing-box-btc"  data-qty="0.7664087">
          <div class="row">
              <div class="pricing-title">
                                        <h3><span id="qty">0.7664087</span>&nbsp;<span style="text-transform: uppercase">btc</span></h3>
                    
                  
                  <div class="progress price_time">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                  </div>
              </div>
          </div>

          <div style="margin-top: 30px;">
            <div class="row">
                <div class="pricing-price price-row">
                                                            
                                                <h2 style="color: black; font-size: 3em; font-weight: bold;" data-currency="usd">$<span class="price_val" id="price_val_1">3000</span></h2>
                      
                                                                                                            <h2 style="color: black; font-size: 3em; font-weight: bold; display:none;" data-currency="eur" style="display:none;">€<span class="price_val eur_price_val" id="eur_price_val_1">2647</span></h2>
                      
                                      
                  <input type="hidden" id="org_price_val_1" value="0">
                </div>
            </div>
            <div class="row">
                <div class="pricing-button">
                                                            
                        <button data-currency="usd" id="buy_usd_1" onclick="location.href='/place_order?type=buy&amp;qty=0.7664087&amp;item=btc&amp;cur=usd&amp;is_pack=true&amp;pack_id=1'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                                                    <button data-currency="eur" id="buy_eur_1" style="display:none;" onclick="location.href='/place_order?type=buy&amp;qty=0.7664087&amp;item=btc&amp;cur=eur&amp;is_pack=true&amp;pack_id=1'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                      </div>
            </div>

            <br />

            <div class="row">

                <strong>



                                    <span class="small">You get
                    <span id="qty_bottom"></span>&nbsp;<span style="text-transform: uppercase">btc</span>
                  
                                
                </strong>
              </span>
            </div>

            <br />


          </div>

      </div>
  </div>

  <! ------------------------------------------------------------------------------------------------ -->
