<br><br><br><br>
<div class="container" style="margin-bottom:0;margin-top:30px">
    
    <a id="buy_btc"></a>

      <div class="row packagesButtons">
                <div class="col-xs-12 col-sm-5">
                                                
                    <button class="btn btn-package-primary" id="buybtcHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/bitcoin.png" />&nbsp;BTC</button>
                  
                                                                    <button class="btn btn-package-default" id="buyethHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/eth.png" />&nbsp;ETH</button>
                  
                                                                  <button class="btn btn-package-default" id="buyxrpHomeButton"><img width="18px" height="18px" src="https://s3-us-west-2.amazonaws.com/coinmama-assets/ripple.png" />&nbsp;XRP</button>
                  
                                                                  <button class="btn btn-package-default" id="buyltcHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/litecoin.png" />&nbsp;LTC</button>
                  
                                                                  <button class="btn btn-package-default" id="buybchHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/bitcoin_cash.png" />&nbsp;BCH</button>
                  
                                                                  <button class="btn btn-package-default" id="buyqtumHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/qtum.png" />&nbsp;QTUM</button>
                  
                                                                  <button class="btn btn-package-default" id="buyetcHomeButton"><img width="18px" height="18px" src="https://assets.coinmama.com/etc.png" />&nbsp;ETC</button>
                  
                                        </div>
      
      <div class="vis-medium-small price_seperator">
        <hr />
      </div>

              
          <div class="col-xs-12 col-sm-7 packagesCurrencyButtons">
                                              
                    <button class="btn btn-package-default" id="btcusd">USD</button>
                  
                                                                  <button class="btn btn-package-primary" id="btceur">EUR</button>
                  
                                      </div>
      
        </div>

  <div class="col-md-3 pricing-container" style="text-align: center;">
      <div class="pricing-box pricing-box-nof pricing-box-btc"  data-qty="0.2554695">
          <div class="row">
              <div class="pricing-title">
                                        <h3><span id="qty">0.2554695</span>&nbsp;<span style="text-transform: uppercase">btc</span></h3>
                    
                  
                  <div class="progress price_time">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                  </div>
              </div>
          </div>

          <div style="margin-top: 30px;">
            <div class="row">
                <div class="pricing-price price-row">
                                                            
                                                <h2 style="color: black; font-size: 3em; font-weight: bold;" data-currency="usd">$<span class="price_val" id="price_val_2">1000</span></h2>
                      
                                                                                                            <h2 style="color: black; font-size: 3em; font-weight: bold; display:none;" data-currency="eur" style="display:none;">€<span class="price_val eur_price_val" id="eur_price_val_2">882</span></h2>
                      
                                      
                  <input type="hidden" id="org_price_val_2" value="0">
                </div>
            </div>
            <div class="row">
                <div class="pricing-button">
                                                            
                        <button data-currency="usd" id="buy_usd_2" onclick="location.href='/place_order?type=buy&amp;qty=0.2554695&amp;item=btc&amp;cur=usd&amp;is_pack=true&amp;pack_id=2'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                                                    <button data-currency="eur" id="buy_eur_2" style="display:none;" onclick="location.href='/place_order?type=buy&amp;qty=0.2554695&amp;item=btc&amp;cur=eur&amp;is_pack=true&amp;pack_id=2'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                      </div>
            </div>

            <br />

            <div class="row">

                <strong>



                                    <span class="small">You get
                    <span id="qty_bottom"></span>&nbsp;<span style="text-transform: uppercase">btc</span>
                  
                                
                </strong>
              </span>
            </div>

            <br />


          </div>

      </div>
  </div>
  <div class="col-md-3 pricing-container" style="text-align: center;">
      <div class="pricing-box pricing-box-nof pricing-box-btc"  data-qty="0.7664087">
          <div class="row">
              <div class="pricing-title">
                                        <h3><span id="qty">0.7664087</span>&nbsp;<span style="text-transform: uppercase">btc</span></h3>
                    
                  
                  <div class="progress price_time">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                  </div>
              </div>
          </div>

          <div style="margin-top: 30px;">
            <div class="row">
                <div class="pricing-price price-row">
                                                            
                                                <h2 style="color: black; font-size: 3em; font-weight: bold;" data-currency="usd">$<span class="price_val" id="price_val_1">3000</span></h2>
                      
                                                                                                            <h2 style="color: black; font-size: 3em; font-weight: bold; display:none;" data-currency="eur" style="display:none;">€<span class="price_val eur_price_val" id="eur_price_val_1">2647</span></h2>
                      
                                      
                  <input type="hidden" id="org_price_val_1" value="0">
                </div>
            </div>
            <div class="row">
                <div class="pricing-button">
                                                            
                        <button data-currency="usd" id="buy_usd_1" onclick="location.href='/place_order?type=buy&amp;qty=0.7664087&amp;item=btc&amp;cur=usd&amp;is_pack=true&amp;pack_id=1'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                                                    <button data-currency="eur" id="buy_eur_1" style="display:none;" onclick="location.href='/place_order?type=buy&amp;qty=0.7664087&amp;item=btc&amp;cur=eur&amp;is_pack=true&amp;pack_id=1'" class="btn btn-primary buyButton"><i style="display:none;" class="fa fa-cog fa-spin fa-1x buyLoading"></i> Buy Now</button>
                      
                                                      </div>
            </div>

            <br />

            <div class="row">

                <strong>



                                    <span class="small">You get
                    <span id="qty_bottom"></span>&nbsp;<span style="text-transform: uppercase">btc</span>
                  
                                
                </strong>
              </span>
            </div>

            <br />


          </div>

      </div>
  </div>