<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2019 &copy; PLUSQO.COM All Rights Reserved.</small>
        </div>
      </div>

    </div>
  </div>
</footer>
<!-- End Copyright Footer -->