<br><br><br><br>
          <div id="container-wrapper">
      	<div class="container">
            <h1 class="text-center">
  Welcome to PLUSQO.COM! <span>The easiest way to buy bitcoin and ethereum</span>
</h1>
<p>
  &nbsp;
</p>
<div class="row">
  <div class="col-sm-6">
    <p>
      &nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <h3>
      Get started
    </h3>
    <p>
      &nbsp;
    </p>
    <p>
      Register for an account, choose the amount of Bitcoin&nbsp;you want to buy and click on &ldquo;Buy Now.&rdquo;
    </p>
    <p>
      &nbsp;
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.coinmama.com/register">Open an account</a>
  </div>
  <div class="col-sm-6 text-right">
    <img alt="" class="img-rounded img-responsive" src="https://www.coinmama.com/assets/img/images/how_1.png" style="width: 518px; height: 386px; margin-right: -30px; float: right;" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6 text-right">
    <img alt="" class="img-rounded img-responsive" src="https://s3-us-west-2.amazonaws.com/coinmama-assets/web/credit_cards.png" style="padding-left: 75px; padding-top: 75px;" />
  </div>
  <div class="col-sm-6">
    <p>
      &nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <h3>
      Step 1: Choose your method of payment
    </h3>
    <p>
      &nbsp;
    </p>
    <p>
      <span class="s1">Use a credit/debit card to pay online in minutes!</span>
    </p>
    <p>
      &nbsp;
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.coinmama.com/home#buy_btc">Buy now</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>
      &nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <h3>
      Step 2: Follow the instructions
    </h3>
    <p>
      &nbsp;
    </p>
    <p>
      To pay with credit/debit card, fill the payment form&nbsp;and follow the instructions.&nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.coinmama.com/faq">Learn more</a>
  </div>
  <div class="col-sm-6 text-right">
    <img alt="" class="img-rounded img-responsive" src="https://www.coinmama.com/assets/img/images/how_3.png" style="width: 518px; height: 386px;" />
  </div>
</div>
<div class="row">
  <div class="col-sm-6 text-right">
    <img alt="" class="img-rounded img-responsive" src="https://www.coinmama.com/assets/img/images/how_4.png" style="width: 518px; height: 386px;" />
  </div>
  <div class="col-sm-6">
    <p>
      &nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <h3>
      Step 3: Complete the payment and confirm your wallet address
    </h3>
    <p>
      &nbsp;
    </p>
    <p>
      Complete the payment and confirm your bitcoin wallet address by clicking the link in the confirmation email we will send you.&nbsp;
    </p>
    <p>
      &nbsp;
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.coinmama.com/home#buy_btc">Buy now</a>
  </div>
</div>
<p>
  &nbsp;
</p>
<h4 style="text-align: center;">
  Once we&rsquo;ve received and verified your payment, we will immediately deliver the coins to your wallet!
</h4>
<p style="text-align: center;">
  You&rsquo;ll be able to track the status of your orders at all times under &lsquo;My Account.&#39;
</p>
<p style="text-align: center;">
  &nbsp;
</p>
<p style="text-align: center;">
  <a class="btn btn-primary btn-lg" href="https://www.coinmama.com/home#buy_btc">Buy bitcoin now!</a>
</p>
<p style="text-align: center;">
  &nbsp;
</p>
<p style="text-align: center;">
  &nbsp;
</p>
<p style="text-align: center;">
  &nbsp;
</p>

        </div>
      </div>