<section class="g-bg-gray-light-v5">
  <div class="container g-py-100">
    <div class="row justify-content-center g-mb-110">
      <div class="col-lg-8">
        <!-- Heading -->
        <div class="text-center">
          <h2 class="h1 g-color-black g-font-weight-600 mb-5">Empowering humanity.<br>One human at a time.</h2>
        <p class="lead mb-5">We’re PLUSQO.COM, a financial service that makes
        it fast, safe and fun to buy digital currency, anywhere in
        the world. We believe that the future of money is one where we,
        the people, are in control of our own economy. A future where
        there’s no place for middle-men, hidden fees and fine print.
      </p>
      <p class="lead mb-5">To deliver on that promise, we have come to work every day
        since 2013 to create the simplest financial service out
        there - spoken in a language you can understand, and backed
        by customer service you can count on.
      </p>
        </div>
        <!-- End Heading -->
      </div>
    </div>
  </div>
</section>
