 <br><br><br><br>
          <div id="container-wrapper">
      	<div class="container">
            <h1 align="center"><strong>Terms of Use&nbsp;</strong></h1>

<h2>1. Introduction and Your Acceptance of the Terms of Use</h2>

<p style="margin-left: 40px;">1.1. PLEASE READ THESE TERMS OF USE CAREFULLY IN ITS ENTIRETY BEFORE USING THE WEBSITE <a href="http://www.coinmama.com/">WWW.COINMAMA.COM</a>, OR ANY SERVICE OFFERED THEREIN. BY USING THE WEBSITE OR OTHERWISE ACCESSING OR USING OUR SERVICES, YOU AGREE TO THE TERMS OF USE. IF YOU DO NOT ACCEPT THE TERMS OF USE OR ANY PROVISION THEREIN, DO NOT ACCESS THE WEBSITE OR USE THE SERVICES.</p>

<p style="margin-left: 40px;">1.2.&nbsp;NBV International s.r.o., a company incorporated under the laws of Slovakia, with a registered office at Prievozsk&aacute; 4D, 82 109 Bratislava, Slovakia, shall be referred to as &ldquo;<strong>us,</strong>&quot; &quot;<strong>we,&quot;</strong> &quot;<strong>our</strong>&quot; or &quot;<strong>Company</strong>&quot;.</p>

<p style="margin-left: 40px;">1.3. The users of the website Coinmama.com (the &ldquo;<strong>Site</strong>&rdquo;), shall be referred to as &ldquo;<strong>you</strong>,&rdquo; &ldquo;<strong>your</strong>&rdquo; or &ldquo;<strong>yourself</strong>&rdquo;. By using this Site, and/or by registering to use our service, you accept and comply with the terms and conditions governing your use of the Site and the services offered therein (the &ldquo;<strong>Terms of Use</strong>&rdquo;). You should read the entire Terms of Use carefully before you use the Site or any of the services offered on the Site (the &ldquo;<strong>Services</strong>&rdquo;). If you do not agree to any term of these Terms of Use, you are required not to use the Site and the Services.</p>

<p style="margin-left: 40px;">1.4. You further acknowledge that the privacy policy (made available on the Site at&nbsp;<u><a href="https://www.coinmama.com/privacy-policy">https://www.coinmama.com/privacy-policy​</a></u>) (the &ldquo;<strong>Privacy Policy</strong>&rdquo;), is an integral part of these Terms of Use, and by using the Services, you also agree that you have read, understood, and accepted the terms of the Privacy Policy.</p>

<h2>2. Registration and your Account Eligibility&nbsp;</h2>

<p>By opening an account to use the Services (the &ldquo;<strong>Account</strong>&rdquo;), you expressly represent and warrant that:</p>

<ol style="list-style-type:lower-roman;">
	<li>you have accepted these Terms of Use;</li>
	<li>you are at least 18 years of age (or the age of majority in your country of residence and no younger than age 18);</li>
	<li>you are of sound mind and capable of taking responsibility for your own actions, and have the full legal capacity to accept these Terms of Use and enter into a transaction involving <strong>Digital Currency</strong> (as defined below); and</li>
	<li>all information and details that you submit to us during the initial registration process, and thereafter (including as part of any use of the Services), are true, current, complete and not misleading and, as appropriate, match the name(s) on the credit/debit card(s) or other payment accounts to be used to receive Fiat Money (defined below) in exchange for the Digital Currency.</li>
</ol>

<h2>3. Personal Use of your Account</h2>

<p style="margin-left: 40px;">3.1. The Site is for your own personal and non-commercial use only. You may only open one Account, and you acknowledge that multiple or linked accounts are not allowed.</p>

<p style="margin-left: 40px;">3.2. You further agree that you will not use any Account other than for your own use, or access the Account of any other registered user (a &ldquo;<strong>Member</strong>&rdquo;) at any time, or assist others in obtaining unauthorized access.</p>

<p style="margin-left: 40px;">3.3. By registering with us, you agree to provide us with current, accurate, authentic, and complete information about you, which may include without limitations, your name, password, e-mail address, postal address, telephone number, ID number, birthdate, taxpayer identification number, personal bank account details, as prompted by the registration and/or verification process, or as prompted at any time following registration, and you are required to keep any such submitted information updated at all times. We may request additional information as necessary, including in the event of any suspicious activity related to your Account.</p>

<p style="margin-left: 40px;">3.4. <strong>Verification Process</strong>. We may verify your details, at any time, by requesting certain documents from you. These documents may typically include a government issued identity card, proof of address, such as a utility bill, and proof of your payment method. We may request that copies of such documents are notarized at your own expense, with a stamp and attestation or certification by a public notary. Should the documents fail our internal security checks for any reason, such as upon suspicion of tampering, or due to suspicious or proven misrepresentation, we shall be under no obligation to accept such documents as valid, and under no obligation to provide feedback on the exact nature of our findings with regards to these documents. In addition, we may request that you participate in a phone or video call to verify your identity.</p>

<p style="margin-left: 40px;">3.5. We may also perform further background checks on you and request any relevant documentation from you for any reason related to your use of the Services and/or as supporting evidence for any information you provide.</p>

<p style="margin-left: 40px;">3.6. You acknowledge that in order to conduct such verification process and/or background checks, we may perform inquiries, directly or indirectly through third party service providers in the attempt to prevent misidentification, fraud, suspicious activity, money laundering or any other forbidden activity, and may take actions with respect to the outcome of such inquiries, as we deem necessary. You hereby provide us with your authorization for such inquiries, including with respect to a query of your account information.</p>

<p style="margin-left: 40px;">3.7. The aforementioned notwithstanding, the Company may, at any time, and in its sole discretion, deny you the option to open an Account, limit the Account that you may establish and maintain, or suspend any transaction pending our review of any information submitted by you.</p>

<p style="margin-left: 40px;">3.8. <strong>Confidentiality of your Account</strong>. You acknowledge that you are responsible for maintaining the strict confidentiality of your Account information, including your password, safeguarding your own Digital Currency, and for all activity and transactions that are posted to your Account. You understand that any compromise of your login information may expose your Account to unauthorized access by third parties which may result in loss or theft of Digital Currency or funds from your Account, including linked accounts, such as your linked bank accounts and credit cards.</p>

<p style="margin-left: 40px;">3.9. <strong>Security Alerts</strong>.&nbsp; In order to receive security alerts from the Company, you must update the Company with respect to changes in your email address and telephone number. In no event will the Company be held responsible for any damages or losses which you may sustain as a result of compromise of your Account login credentials due to no fault of the Company and/or failure to follow or act upon any notices or alerts that we may send to you. Notwithstanding the above, the Company does not guarantee to provide you with said alerts or to take any other action in this regard, and shall not be held liable for not doing so.</p>

<p style="margin-left: 40px;">3.10. <strong>Misuse</strong>. The creation or use of an Account without obtaining our prior express permission will result in the immediate suspension of any such Account, as well as all pending purchase/sale offers. Any attempt to do so or to assist others (former registered users or otherwise), or the distribution of instructions, software or tools for that purpose, will result in the Accounts of such users being terminated, without derogating from any other remedy to which the Company may be entitled for such a violation and the Company may take further actions against you.</p>

<p style="margin-left: 40px;">3.11. You are required to notify us immediately of any unauthorized use of your Account or password, suspected compromise of your login information, or any other breach of security by email, addressed to&nbsp;<u><a href="mailto:support@coinmama.com">support@coinmama.com</a></u>.</p>

<p style="margin-left: 40px;">3.12. We may terminate the account of any Member who does not comply with our verification or security requests, or otherwise violates the foregoing rules, and such Member may be held liable for losses incurred by the Company or by any third party due to the Member&rsquo;s non-compliance and/or violation of rules.</p>

<p style="margin-left: 40px;">3.13.&nbsp;<strong>Responsibility for Third Party Acts</strong>. Your Account is for your personal use only, and not for the use or access by any third party. In any event, you are fully responsible for all acts or omissions of any third party accessing and/or using your Account.</p>

<p style="margin-left: 40px;">3.14. You agree that you will not use the Services to perform criminal activity of any sort, including but not limited to, money laundering, illegal gambling operations, terrorist financing, or malicious hacking. In addition, you warrant not to use methods to conceal the location from which you access the Site and that you will disclose to the Company your accurate and true location.&nbsp;Should the Company determine in its sole discretion that the activity on your Account is suspicious or related to any prohibited activity or illegitimate operation, the Company may cancel or suspend your Account, block any outstanding transactions, deny any new transactions, and/or freeze any funds available on your Account.</p>

<p style="margin-left: 40px;">3.15. You agree to receive promotional and/or informational emails&nbsp;from us to the email address you provided in your Account. Such emails will be cancelled upon your request using&nbsp;the &quot;unsubscribe&quot; option presented in any such email, when applicable.</p>

<h2>4. Provision of the Services</h2>

<p style="margin-left: 40px;">4.1. <strong>Purchase of Digital Currency</strong>. The Services allow Members to buy from the Company Bitcoin and Ethereum and any other digital currency that may be available for purchase on the Site from time to time (the &ldquo;<strong>Digital Currency</strong>&rdquo;).</p>

<p style="margin-left: 40px;">4.2. <strong>Sale of Digital Currency</strong>.&nbsp; At the Company&rsquo;s sole discretion, the Company may also elect to allow Members to sell Digital Currency to the Company.</p>

<p style="margin-left: 40px;">4.3. Upon successfully opening and establishing your Account following the verification process, you may begin purchasing or selling Digital Currency, as applicable, on a per transaction basis in exchange for USD, EUR, or other currencies as determined by the Company from time to time (collectively and individually, the &ldquo;<strong>Fiat Money</strong>&rdquo;).</p>

<p style="margin-left: 40px;">4.4. <strong>No Guarantee of Payment Methods</strong>. You may send and/or receive Fiat Money to and from the Company through bank account wire transfers, credit card payment, or a third party processor. However, the Company cannot guarantee that all such payment methods will always be available to you. The availability of each payment method depends on several factors, including but not limited to your location, the identification information you have provided the Company, and certain limitations imposed by third party payment processors, if any.</p>

<p style="margin-left: 40px;">4.5. <strong>Bank Transfers.&nbsp; </strong>You understand and accept the following terms pertaining to any bank wire transfer you send the Company in connection with your purchase order for Digital Currency:</p>

<ol style="list-style-type:lower-roman;">
	<li>A payment may, in the Company&rsquo;s sole discretion, not be accepted by the Company if it is made: a) to a different beneficiary than specified in the payment instructions presented to you when you place your order. b) from a bank account in a name that does not match your name as registered on your Account with the Company, or that otherwise cannot be identifiable to the Company&#39;s satisfaction as yours.</li>
	<li>in the event the payment actually received by the Company&#39;s bank account, net any applicable bank or administrative fees, is lower than the payment amount required to fulfill your purchase order, the Company, in its sole discretion, shall either a) automatically update and fulfill the purchase order in accordance with the payment amount net fees actually received and send a notification with the updated order or b) contact you to receive new instructions to amend or cancel your order; and</li>
	<li>in the event the payment received into the Company&#39;s bank account, net any applicable bank or administrative fees, is higher than the payment amount required to fulfill your purchase order, the Company, in its sole discretion, may i) update your purchase order according to the amount actually received for amounts where the discrepancy is not more than 1,000 Euros and send a notification to you about the updated order or ii) contact you to receive new instructions to amend or cancel your order.</li>
</ol>

<p style="margin-left: 40px;">4.6. <strong>Delivery of Digital Currency</strong>. The Company will use reasonable efforts to deliver the purchased Digital Currency to you at the earliest reasonable time in accordance with the terms and conditions hereunder. You acknowledge that delivery of the Digital Currency purchased by you may be completed separately from the payment process, and it may take time for the Digital Currency transfer to be processed. You also acknowledge that on some occasions, the Company may not be able to fulfill your purchase order or deliver the Digital Currency as further explained herein.</p>

<p style="margin-left: 40px;">4.7. <strong>Wallet Address</strong>. You understand and accept that we shall deliver the purchased Digital Currency to the personal digital wallet address you provide to us with respect to each of your purchase orders (your &quot;<strong>Wallet Address</strong>&quot;) and which you verify with us upon our verification requestfor each order. Such verification request may include, without limitation, verification through email or other electronic means. You further understand and accept that in the event you do not verify your Wallet Address within 30 days of our sending such verification request to you, we reserve the right to send you the relevant Digital Currency to the Wallet Address you provided to us upon initiating the applicable order, irrespective of any verification from you. You further understand that once we send you Digital Currency to your Wallet Address, we will be unable retrieve that Digital Currency from your Wallet Address.</p>

<p style="margin-left: 40px;">4.8. You acknowledge that the Company will not be liable for any error with respect to the instructions you provide.</p>

<p style="margin-left: 40px;">4.9.&nbsp;<strong>No Guarantee of Value or Liquidity</strong>. You understand and accept the risks involved in buying and selling Digital Currency, including the fact that the Company cannot guarantee that any Digital Currency will have, at any time in the future, certain value (if any) or market liquidity. There is no guarantee that you will be able to sell the Digital Currency to any third party at a later time, and at no event, will the Company be obligated to purchase from you any Digital Currency, whether bought from the Company or otherwise. (See also Section, 18, &quot;<strong>Risks</strong>&quot;).</p>

<h2>5. Price of Digital Currency and the Execution of Your Order</h2>

<p style="margin-left: 40px;">5.1. <strong>Price</strong>. The rate at which the Digital Currency is purchased or sold, as applicable, shall be determined in accordance with the price as displayed on the Site (the &ldquo;<strong>Price</strong>&rdquo;).</p>

<p style="margin-left: 40px;">5.2. Notwithstanding the above, you hereby understand and agree that any Price displayed on the Site at which the Company sells or buys the Digital Currency is accurate for that present moment alone, and the Price which appears on the Site upon your order for the Services may not be the final price or rate of your transaction. This is due to the highly volatile nature of the price of Digital Currency and the period of time that may be required for completing the transaction, as further detailed below.</p>

<p style="margin-left: 40px;">5.3. The final Price of your transaction (the &ldquo;<strong>Final</strong> <strong>Price</strong>&rdquo;) will be the price which appears on the Site upon:</p>

<ol style="list-style-type:lower-roman;">
	<li>
	<p style="margin-left: 40px;">our receipt of confirmation of payment from the relevant credit or debit card company with respect to Fiat Money payments made by you via credit card or debit card;</p>
	</li>
	<li>
	<p style="margin-left: 40px;">our receipt of confirmation of payment from our bank with respect to Fiat Money payments made by you via bank wire transfer; and</p>
	</li>
	<li>
	<p style="margin-left: 40px;">the actual crediting of our virtual wallet with the Digital Currency with respect to Digital Currency credited to us by you.</p>
	</li>
</ol>

<p style="margin-left: 40px;">5.4. You understand and agree that the Final Price may be either higher or lower than any other rate or price which was previously available on the Site, in accordance with value fluctuation which may occur, and that this may change either in your favor or in the Company&rsquo;s and we have no control whatsoever on such change.</p>

<p style="margin-left: 40px;">5.5. As soon as reasonably practicable thereafter, and subject to the completion of our KYC process to our satisfaction, we shall execute your order at the Final Price (the &ldquo;<strong>Execution</strong>&rdquo;). Until Execution, any order by you shall be considered as pending and not completed, and shall not be binding on us whatsoever.</p>

<p style="margin-left: 40px;">5.6. <u>Delivery</u>. As soon as reasonably practicable after the Execution of your order:</p>

<ol style="list-style-type:lower-roman;">
	<li>
	<p style="margin-left: 40px;">in the case of your purchase of Digital Currency from us, the relevant Digital Currency shall be delivered by us to your <strong>Wallet Address</strong>. While we will attempt to transfer the Digital Currency as soon as we can, please note that the transfer may take some time to be processed;</p>
	</li>
	<li>
	<p style="margin-left: 40px;">in the case of your sale of Digital Currency to us, we shall deliver Fiat Money through a bank wire transfer, credit card, or other third party payment processor, all using the details per applicable payment method you provided during registration and/or at the time of your sales order; and</p>
	</li>
</ol>

<ol style="list-style-type:lower-roman;">
	<li value="3">
	<p style="margin-left: 40px;">we shall provide you, either on the Site, via email, or otherwise, a transaction confirmation, detailing the Final Price and other particulars about the purchase and the Execution (the &ldquo;<strong>Transaction</strong> <strong>Confirmation</strong>&rdquo;).</p>
	</li>
</ol>

<p style="margin-left: 40px;">5.7. Any payment by us to you, whether of Fiat Money or Digital Currency, shall be paid after deduction of any applicable fees, including the commission fee, which shall be displayed <a href="https://support.coinmama.com/hc/en-us/articles/213577065-Fees-and-charges"><u>here</u></a>.</p>

<p style="margin-left: 40px;">5.8.&nbsp;<strong><u>Cancellation Policy</u></strong><u>.</u> You acknowledge that Executed transactions are non-cancelable and you cannot change or reverse any transaction - whether completed or pending (including any order in which the Wallet Address has not yet been verified by you, as described in section 4.7 above).</p>

<p style="margin-left: 40px;">Notwithstanding the above, the Company, in its sole discretion, without any obligation whatsoever, may endeavor to comply with a request from you to cancel a transaction on your Account. Subject to applicable law and regulation, in the event the Company cancels your purchase order after having received Fiat Money from you with regards to such order, the Company will refund such funds to you minus any costs or expenses incurred with regards to such refund, including without limitation any bank charges, currency exchange charges and/or payment processing charges, provided that the Digital Currency sent to you in the course of the cancelled purchase order is returned, from the same Wallet Address to which you received it from the Company, to a Wallet Address that will be provided ad hoc by the Company, and subject to the results of activity surveys that the Company may choose to conduct on the Digital Currency. With respect to cancellation of your sales order after having received Digital Currency from you, the Company will credit you with such Digital Currency minus applicable transaction costs and expenses. Any return for a cancelled transaction shall be at an exchange rate determined in the Company&#39;s sole discretion.</p>

<p style="margin-left: 40px;">5.9.&nbsp;<strong>Unsuccessful Payments</strong>. If your payment method is declined, whether due to insufficient funds or deemed unsuccessful for any other reason, you agree that the Company, in its sole discretion, may: (i) cancel any applicable transaction; (ii) fulfill a portion of that transaction; or (iii) debit alternative payment methods provided by you, in the amount necessary to complete a pending transaction. In the event of termination of any transaction the Company will make reasonable efforts to provide you with notification of such termination.</p>

<p style="margin-left: 40px;">5.10.&nbsp;<strong>Ownership of your Wallet Address</strong>. For the purpose of executing any transaction, you guarantee to use and provide the electronic wallet address owned by you exclusively and which is under your sole and full control to which the Digital Currency purchased by you will be transferred.</p>

<p style="margin-left: 40px;">5.11. The Company reserves the right to deny processing any order, or cancel any pending transaction if:</p>

<ol style="list-style-type:lower-roman;">
	<li>
	<p style="margin-left: 40px;">required to do so by law, regulation, competent court order, or other competent authority;</p>
	</li>
	<li>
	<p style="margin-left: 40px;">the Company considers any such order or transaction as violating any provision of these Terms of Use, or applicable law or regulation;</p>
	</li>
	<li>
	<p style="margin-left: 40px;">it exceeds any limit which may apply to the number or volume of transactions in any given period, in accordance with Company&rsquo;s policies, as may be amended from time to time, or any other applicable laws and regulations; or</p>
	</li>
	<li>
	<p style="margin-left: 40px;">such transaction places the Company&rsquo;s operation, good name, or reputation at risk. In addition, the Company may take any additional actions available to it under these Terms of Use or other applicable laws and regulations with respect to such transaction.</p>
	</li>
</ol>

<h2>6. Users Content</h2>

<p style="margin-left: 40px;">6.1. Should you upload any content on the Site, including without limitations, any text, photo, or other material, you warrant that such content will not consist of: (a) false, misleading information or misappropriation; (b) copyrighted material which you are not authorized to post publicly; (c) obscene, offensive, profane, unlawful content or any content which, subject to Company&rsquo;s sole discretion, may harm or risk the Company&rsquo;s good name and reputation; or (d) anything that is otherwise prohibited by any applicable laws.</p>

<p style="margin-left: 40px;">6.2. Without relieving you of your responsibility as abovementioned, the Company may, subject to the Company&rsquo;s sole discretion, remove any content which is in violation of the above detailed in addition to any further action which the Company deems necessary. The Company does not undertake to review any such contents nor assumes any responsibility in connection therewith.</p>

<p style="margin-left: 40px;">6.3. You acknowledge that the Company cannot and does not endorse or guarantee the authenticity, identity or reliability of any content and information either posted by any user of the Site or attributed to any user of the Site, thus relying on users&rsquo; content is solely at your own discretion and risk.</p>

<h2>7. Payment Transactions, Third Party Processors, and Chargebacks</h2>

<p style="margin-left: 40px;">7.1. You are fully responsible for paying all sums (whether Fiat Money or Digital Currency) owed to us by you. We reserve the right to withhold any payment which is to be made to you until the Company can properly identify and authenticate your identity and/or payment details (as applicable).</p>

<p style="margin-left: 40px;">7.2. <strong>Third Party Service Processors</strong>. You acknowledge that the Company may, subject to the Company&rsquo;s sole discretion, use third-party payment processing service providers to process any payment between you and the Company, including but not limited to payments in relation to your use of the Services and any transaction executed by you. In such cases, you confirm that the Company may provide certain personal information and/or documentation about you, including with respect to a transaction executed by you as needed to complete the transaction or as required under any inquiry or in the event of detection of fraud or suspicion of such.</p>

<p style="margin-left: 40px;">7.3. In accordance with the Company&rsquo;s Privacy Policy, the Company may use or transfer your information to any other third party service providers for the purpose of providing you with the Services under the Site or the improvement thereof, as well as for any KYC, AML or CTF procedures, as described hereunder.</p>

<p style="margin-left: 40px;">7.4. If the Company reasonably believes that a fraudulent act was or is made by you or in connection with your Account, including use of stolen credit cards or any other fraudulent activity (including any chargeback or other reversal of a payment), it reserves the right to close or suspend your Account, terminate the Terms of Use, and/or reverse or withhold any payment. The Company shall be entitled to inform any relevant authorities or entities (including credit reference agencies) of any payment fraud or otherwise unlawful activity, and may employ collection services to recover payments. The Company shall not be liable for any unauthorized use by any third party of credit/debit cards, irrespective of whether or not the credit/debit cards were reported stolen.</p>

<p style="margin-left: 40px;">7.5. You further agree that you will not make or attempt to make any chargebacks, and/or deny or reverse any payment or deposits that you have made. You hereby agree that you will reimburse us for any chargebacks, denial or reversal of your payments or deposits and any loss suffered by us as a consequence of this. In any such event, we reserve the right to cease to provide the Services, terminate the Terms of Use, withhold payments to you, and take any further action which we may see as appropriate.</p>

<h2>8. Use of Our Technology and Intellectual Property</h2>

<p style="margin-left: 40px;">8.1. You may only install and use the software connected to the Site (the &quot;<strong>Software</strong>&quot;) and all content derived from the Software, including, but not limited to, the copyright and all other intellectual property rights in the Software, in connection with the Services for your personal and non-commercial use and in accordance with the Terms of Use. The Software&#39;s code, structure and organization are protected by intellectual property rights. you must not: (i) copy, redistribute, publish, reverse engineer, decompile, disassemble, modify, translate or make any attempt to access the source code to create derivative works of the source code, or otherwise; (ii) sell, assign, sublicense, transfer, distribute or lease the Software; (iii) make the Software available to any third party through a computer network or otherwise; (iv) export the Software to any country (whether by physical or electronic means); or (v) use the Software in a manner prohibited by any laws or regulations which apply to the use of the Software (collectively the &quot;<strong>Prohibited</strong> <strong>Acts</strong>&quot;).</p>

<p style="margin-left: 40px;">8.2. You will be liable to us for any damage, costs or expenses we suffer or incur that arise out of or in connection with your commission of any of the Prohibited Acts. you shall notify us as soon as reasonably possible after becoming aware of the commission by any person of any of the Prohibited Acts and shall provide us with reasonable assistance with any investigations we may conduct as a result of the information provided by you in this respect.</p>

<p style="margin-left: 40px;">8.3. The brand names relating to the Site and any other trade marks, service marks and/or trade names used by us, or on our own behalf (the &quot;<strong>Trade</strong> <strong>Marks</strong>&quot;), are owned by us or our licensors. In addition to the rights in the Trade Marks, we and/or our licensors own the rights in all other content of the Site (the &quot;<strong>Content</strong>&quot;). By using the Services you shall not obtain any rights in the Trade Marks or the Content, and you may use the Trade Marks and Content in accordance with the terms of the Terms of Use only.</p>

<p style="margin-left: 40px;">8.4. <strong>Availability of the Site</strong>. The Company cannot and does not guarantee the availability of the Services at all times. You acknowledge that the Company reserves the right, at all times, to delay, deny, or make unavailable, at any time and at its sole discretion, any or all of the Services and/or the Site itself. The Company shall have no responsibility or liability whatsoever in connection with the unavailability of any Service, whether caused by the Company as aforementioned or by any third party or force majeure. You explicitly understand that any such event may cause a delay in the execution or processing of your orders and transactions, and you irrevocably release the Company of any liability in this regard.</p>

<p style="margin-left: 40px;">8.5. <strong>Security and Viruses</strong>.&nbsp; Any use of the internet may be subject to a virus attack and/or communication failure. The Company shall not bear any liability, whatsoever, for any damage or interruptions caused by computer viruses, spyware, Trojan horses, worms or other malware that may affect your systems, computer or other equipment, or any phishing, spoofing or other virus attacks. The Company recommends that all Members use a reputable and available virus screening and prevention software at all times. You should also apply caution when reviewing text messages and emails purporting to originate from the Company, as SMS and emails are also vulnerable to phishing and spoofing and additional viruses. It is advisable that you log into your Account through the Site only and avoid using unauthentic communication advising you options to log in.</p>

<p style="margin-left: 40px;">8.6. <strong>Confidential Information</strong>.&nbsp; Provided that in the course of using the Services you are disclosed of any confidential information, you are obligated to keep such confidential information in strict confidence and use it in connection with the Services only. You may not disclose such confidential information without the Company&rsquo;s prior written consent.</p>

<h2>9. Compliance</h2>

<p style="margin-left: 40px;">9.1. Your use of the Service must be in compliance with all laws and regulations applicable to you based on your applicable jurisdiction. It is your exclusive responsibility to ensure that your use of the Site and Services is compliant with the applicable laws and regulations.</p>

<p style="margin-left: 40px;">9.2. Where the Company believes that your use of the Services may not be fully compliant with applicable laws and regulations, including, but not limited to, where there is any reason to suspect that your use of the Services involve any prohibited activities or you otherwise fail to complete the KYC, AML and CTF procedures described under Section &lrm;17 below, we may refuse to provide you the Service, process your transactions or accept you as a client, in addition to any other action which we may deem appropriate.</p>

<p style="margin-left: 40px;">9.3. <strong>Applicable Sanctions</strong>. You warrant that you will comply with all applicable international economic and export sanctions and any requirement therein. Without limiting the generality of the aforementioned, you will not use the Services available on Site if any of the following applies to you:</p>

<ol style="list-style-type:lower-alpha;">
	<li>
	<p style="margin-left: 40px;">You&nbsp;are a national or resident of Iran, North Korea, Cuba, Syria or the Crimea region of the Ukraine, or any other country included in the US embargo, United Nations sanctions, HM Treasury&#39;s financial sanctions regime (the &ldquo;<strong>Restricted Territories</strong>&rdquo;) or you intend to distribute or provide the acquired Digital Currency or the Services to the Restricted Territories;</p>
	</li>
	<li>
	<p style="margin-left: 40px;">Your name appears on the US Treasury Department&#39;s Specially Designated Nationals List or the US Commerce Department&#39;s Denied Persons List, Unverified List, Entity List HM Treasury&#39;s financial sanctions regime (the &ldquo;<strong>Restricted Persons</strong>&rdquo;) or you intend to distribute or provide the Services to any person of the Restricted Persons; and</p>
	</li>
	<li>
	<p style="margin-left: 40px;">You are on a prescribed sanctions list.</p>
	</li>
</ol>

<p style="margin-left: 40px;">9.4. You fully understand and accept that we may not make the Services available in all markets and regions, and may restrict or prohibit the use of the Services from, and by residents or nationals of, certain jurisdictions (&quot;<strong>Restricted locations</strong>&quot; &ndash; listed <a href="https://support.coinmama.com/hc/en-us/articles/211237889-Areas-we-operate-in"><u>here</u></a>). You, therefore, further represent and warrant that you are not located in, under the control of, or a national or resident of any Restricted locations.</p>

<h2>10. Account Suspension, Termination, and Cancellation</h2>

<p style="margin-left: 40px;">10.1. You acknowledge that, at any time, the Company will be entitled to: (a) suspend your Account and your Access to the Services, (b) terminate the Terms of Use and your access to the Site and close your Account, (c)refuse processing, cancel or reverse any transaction of Digital Currencies, regardless if corresponding funds have been debited from your payment method; (d) restrict your Account; and/or (e) prohibit access to the Site and its content or tools, delay or remove hosted content, and take technical and legal measures to keep users off the Site, all of the aforementioned for any reason whatsoever, all subject to the Company&rsquo;s sole discretion, including without limitation as a result of the following:</p>

<p style="margin-left: 40px;">(i) violation of these Terms of Use, including without limitations, failure to pay for any transaction; (ii) attempts to gain unauthorized access to the Site or another Member&rsquo;s account or to provide assistance to others&rsquo; attempt to do so; (iii) the Company has reasonable suspicion that a transaction involves illegal activity, including without limitations, money laundering, terrorist financing, fraud, or any other crime; (iv) the Company reasonably suspects that your Account or any transaction is related to prohibited use or is non-compliant with any applicable laws or regulations; (v) the Company is requested to do so by a court order, law enforcement or other government or regulatory order or if your Account is subject to litigation or investigation; (vi) you abuse the Services provided by the Company, including by opening multiple accounts and/or taking advantages of promotions in bad faith; (vii) any of the Company&rsquo;s third party providers denies providing you the Services; (viii) the Company believes you are creating problems or possible legal liabilities; (ix) force majeure events, including operational and technical errors; (x) no transaction with respect to the Services has been carried out by you for twelve or more consecutive months; (xii) the Company believes that you adversely affect its reputation; (xiii) the Company reasonably believes that your Account is associated with any account that has been suspended or terminated for breach of the Terms of Use or suspended for any other reason;(xi) you did not provide information upon the request of the Company or the information provided does not meet the Company&rsquo;s requirements; or (xii) the Company believes your Account and/or transaction does not meet the Company&#39;s risk tolerance.</p>

<p style="margin-left: 40px;">10.2. Notwithstanding the abovementioned, the Company may, subject to its sole discretion, suspend or terminate your access to the Services, or refuse to open an account for you on any other grounds.</p>

<p style="margin-left: 40px;">10.3. In the event the Company should suspend or terminate your access to your Account and the Services, you shall neither be able to access your Account nor use any or all of the Services. In such event of termination or suspension, we reserve the right to: (i) cancel outstanding and/or pending orders to purchase Digital Currency from us; and (ii) withhold any Fiat Money which you have paid to us for the purchase of Digital Currency from us for which you have not received.&nbsp;&nbsp;</p>

<p style="margin-left: 40px;">10.4. In the event your Account is suspended or terminated by the Company, the Company may provide you with notice of such suspension or termination. In addition, you acknowledge that the Company is not obligated to disclose any findings and information acquired by the Company&rsquo;s security and risk management procedures.</p>

<p style="margin-left: 40px;">10.5. <strong>Termination by you</strong>.&nbsp; You may terminate your Account at any time by submitting your request to terminate your Account at&nbsp;<u><a href="mailto:support@coinmama.com">support@coinmama.com</a></u>. No termination fee shall apply, except that you will be responsible for fulfilling any outstanding payment obligations to the Company existing as of the effective date of termination and to settle any pending transactions. The Company reserves the right to suspend any pending transactions at the time of cancellation.</p>

<p style="margin-left: 40px;">10.6. On termination of the Terms of Use, you shall: (i) stop using the Site, Software and the Services; (ii) pay us any Fiat Money which you owe to us; (iii) provide to us any Digital Currency which you owe to us.</p>

<p style="margin-left: 40px;">10.7. The right to terminate the Terms of Use and to close your account shall not stop you or us from exercising any other right or remedy under the Terms of Use, whether with respect to the termination or to any other event.</p>

<p style="margin-left: 40px;">10.8. Upon the termination of the Terms of Use for any reason, except as otherwise provided in the Terms of Use, and subject to any rights or obligations which have accrued prior to termination, neither party shall have any further obligation to the other under the Terms of Use.</p>

<p style="margin-left: 40px;">10.9.&nbsp;<strong>Retaining or Erasing Information</strong>. Following the termination of the Terms of Use, the Company may retain information for as long as we have a business or tax need or as required under&nbsp;applicable laws, regulations and/or government orders from time to time; provided however, in cases where such a need or government requirement does not exist, the Company shall endeavor to erase and discard your data, all subject to the limitations and requirements under the applicable laws and regulations.</p>

<h2>11. Limitations of Liability; Release</h2>

<p style="margin-left: 40px;">11.1. THE SERVICES AND THE SITE ARE PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS WITHOUT ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY. THE COMPANY SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE AND/OR NON-INFRINGEMENT. THE COMPANY DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES THAT YOUR ACCESS TO THE SOFTWARE, THE SITE, THE SERVICES, AND/OR ANY PART OR MATERIALS MADE AVAILABLE THEREIN, WILL BE COMPLETE, ERROR FREE, CONTINUOUS, UNINTERRUPTED, ACCURATE, THAT DEFECTS WILL BE CORRECTED, AND/OR THE SOFTWARE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES AND BUGS, AND MAKES NO REPRESENTATION PERTAINING TO THE FULL FUNCTIONALITY, ACCURACY, RELIABILITY OF THE MATERIALS AND/OR AS TO RESULTS, OR THE ACCURACY OF ANY INFORMATION OBTAINED BY YOU THROUGH THE SERVICES, SOFTWARE AND/OR SITE. THE ENTIRE RISK AS TO THE USE, QUALITY, AND PERFORMANCE OF THE SOFTWARE, SERVICES AND/OR SITE LIES WITH YOU.</p>

<p style="margin-left: 40px;">11.2. THE COMPANY HAS NO OBLIGATION TO MAINTAIN YOUR ACCOUNT NAME OR PASSWORD. THE COMPANY SHALL NOT BE LIABLE IF YOU MISPLACE, FORGET OR LOSE YOUR ACCOUNT NAME OR PASSWORD BECAUSE OF ANYTHING OTHER THAN THE COMPANY&#39;S NEGLIGENCE.</p>

<p style="margin-left: 40px;">11.3. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL THE COMPANY, ITS AFFILIATES OR SERVICE PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, BE LIABLE TO YOU OR ANYONE ON YOUR BEHALF, FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, INTANGIBLE, OR CONSEQUENTIAL DAMAGES OR LOSS OF ANY KIND, INCLUDING WITHOUT LIMITATIONS, LOSS OF BUSINESS, PROFITS, REVENUES, DATA, CONTRACTS OR ANTICIPATED SAVINGS; AND./OR LOSS OR ANY DAMAGE, ARISING FROM YOUR USE OF THE SITE, SERVICES OR SOFTWARE - WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE, ARISING OUT OF OR IN CONNECTION WITH AUTHORIZED OR UNAUTHORIZED USE OF THE SOFTWARE, SITE AND/OR SERVICES.</p>

<p style="margin-left: 40px;">11.4. YOU AGREE THAT ANY CLAIM OR CAUSE OF ACTION WHICH YOU MAY HAVE ARISING OUT OF OR RELATED TO USE OF THE SITE, SERVICES, SOFTWARE OR THE TERMS OF USE MUST BE FILED WITHIN ONE (1) YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION AROSE OR BE FOREVER BARRED.</p>

<p style="margin-left: 40px;">11.5. WE SHALL NOT BE LIABLE TO YOU IN ANYWAY WHATSOEVER FOR THE TRANSFER OF ANY AND ALL DIGITAL CURRENCY IF YOU PROVIDE US WITH ANY INCORRECT AND/OR INCOMPLETE, PUBLIC KEY, AND/OR VIRTUAL WALLET ADDRESS DETAILS. IN ADDITION, WE SHALL NOT BE LIABLE TO YOU IN ANY WAY WHATSOEVER FOR THE TRANSFER OF ANY AND ALL FIAT MONEY IF YOU PROVIDE US WITH ANY INCORRECT AND/OR INCOMPLETE PAYMENT DETAILS.&nbsp;</p>

<p style="margin-left: 40px;">11.6. The Company specifically makes no warranties, representations or guarantees regarding the time required to complete processing any request provided by you, including electronic debit or credit using credit cards, bank accounts or checks, which are dependent upon many factors outside of the Company&rsquo;s span of control. Without derogating from the aforementioned, the Company makes efforts to process your requests in a timely manner.</p>

<p style="margin-left: 40px;">11.7. Although the Company intends to provide accurate and timely information on the Site and/or Software (including, without limitation, the Content), the Site may not always be entirely accurate, complete or current and may also include technical inaccuracies or typographical errors. In an effort to continue to provide you with as complete and accurate information as possible, information may be changed or updated from time to time without notice. Accordingly, you should verify all information before relying on it, and all decisions based on information contained on the Site are your sole responsibility and we shall have no liability for such decisions.</p>

<p style="margin-left: 40px;">11.8. You further agree that the Company shall not be liable to you or any third party for any amendment or termination of the Company Services and/or Terms of Use, or suspension of your access to the Company Services, except to the extent otherwise expressly set forth herein.</p>

<p style="margin-left: 40px;">11.9. Nothing in the Terms of Use will operate so as to exclude any liability of the Company for death or personal injury that is caused by the Company&#39;s negligence.</p>

<p style="margin-left: 40px;">11.10. WITHOUT DEROGATING FROM ANY OTHER PROVISION IN THE TERMS OF USE, IN NO EVENT SHALL OUR LIABILITY TO YOU EXCEED 50 USD IN AGGREGATE.</p>

<p style="margin-left: 40px;">11.11. <strong>Release</strong>.&nbsp;&nbsp; Any disputes between you and any other user of the Site shall be exclusively resolved between you and such user, and you release the Company, its affiliates and service providers, and each of their respective officers, directors, agents, joint ventures, employees and representatives from any and all claims, demands and damages (actual and consequential) of every kind and nature arising out of or in any way connected with such disputes.</p>

<h2>12. Indemnification</h2>

<p style="margin-left: 40px;">You agree to defend, indemnify and hold harmless the Company, its affiliates and service providers, and any of their respective employees, officers, directors, agents, joint ventures, and representatives, from any claims, demands, liabilities, damages, or costs (including attorneys&#39; fees, fines, or penalties) suffered by the Company and arising out of or related to (i) breach by you of the Terms of Use; (ii) your use of the Site, Software, or Services or use by any other person accessing the Services or Software using your user identification whether or not with your authorization; or (iii) any violation by you of any law, rule, regulation, or the rights of any third party.</p>

<h2>13. Modifications to the Terms of Use</h2>

<p style="margin-left: 40px;">13.1. The Company may amend, modify, update and change any of the terms and conditions of the Terms of Use from time to time, including without limitation, as a result of legal and regulatory changes, security reasons and changes to our Services.</p>

<p style="margin-left: 40px;">13.2. The Company will notify you of any such amendment, update, modification or change by publishing a new version of the Terms of Use on the relevant page of the Site, or by notifying you by email. Any new version of the Terms of Use will take effect twenty-four (24) hours after its publication on the Site (or earlier if required by any law, regulation or directive which applies to either us or you), and your use of the Services after this period will be deemed to constitute your acceptance of such new version of the Terms of Use.</p>

<p style="margin-left: 40px;">13.3. Please check for updates to the Terms of Use on a regular basis.</p>

<p style="margin-left: 40px;">13.4. If you do not agree with any modification to the Terms of Use, your sole and exclusive remedy is to terminate your use of the Services and close your Account.</p>

<h2>14. External Websites</h2>

<p style="margin-left: 40px;">The Company makes no representations, and takes no responsibility whatsoever regarding any third party websites, services, or content which you may access through this Site. The Site may present links or other forms of reference to other websites (the &ldquo;<strong style="font-size: 13px;">External Websites</strong><span style="font-size: 13px;">&rdquo;) or resources over which Company has no control. You acknowledge that the Company may present such links or references to you only as a convenience and that Company does not endorse any of the External Website services or offerings made to you or any content provided therein. The Company is not responsible for the availability of, and content provided on External Websites. You are requested to review the policies posted by the External Websites regarding privacy and other topics before use. The Company is not responsible for third party content accessible through the Site, including opinions, advice, statements, prices, activities, and advertisements, and you shall bear all risks associated with the use of such content. It is up to you to take precautions to ensure that whatever you select for your use is free of such items as viruses, worms, Trojan horses and other items of a destructive nature. If you access any such External Websites you agree that you do so at your own risk and you agree that we will have no liability arising from your use of or access to any External Websites.</span></p>

<h2>15. No Financial Advice</h2>

<p style="margin-left: 40px;">For the avoidance of doubt, the Company does not provide any investment advice, recommendation, or guidance, whether in connection with the Services or otherwise. We may provide information on the price, range, volatility of Digital Currency and events that have affected the price of Digital Currency, but this is not considered investment advice and should not be construed as such. No communication between us and you should be considered any form of investment advice. Any decision to purchase or sell Digital Currency is your exclusive decision at your own risk and the Company will not be liable for any loss suffered. You should consult your own legal and/or tax advisors concerning your specific financial situation.</p>

<h2>16. Lack of Financial Regulation</h2>

<p style="margin-left: 40px;">Our business model and our Services consist of facilitating the buying and selling of Digital Currency from and to the Company in an unregulated, international, open payment system. Despite the aforementioned, certain jurisdictions apply regulations or may apply such regulations at any time, in which case, the Terms of Use, including the provision of the Services, may be amended accordingly or terminated to the extent such amendments are not possible. You agree and understand that legislative and regulatory changes or actions at a state, federal, or international level may adversely affect the use, transfer, exchange, and/or value of Digital Currency.</p>

<h2>17. Know-Your-Client (&quot;KYC&quot;), Anti-money Laundering (&ldquo;AML&rdquo;) and Counter Terrorist Financing (&ldquo;CTF&rdquo;) Procedures</h2>

<p style="margin-left: 40px;">17.1. As part of our commitment to combat financial crimes, we have implemented procedures and systems aimed at allowing us to identify and mitigate the risks our Site and Services being misused for &nbsp;illegal purposes. These include our KYC, AML and CTF procedures, which are based on our collection of information about our Users, the assessment of AML/CTF risks associated with their activities, and the ongoing monitoring of transactions made by them.</p>

<p style="margin-left: 40px;">17.2. Where we have any suspicion that our business relationship with you, or a specific transaction which you wish to make, involve any risk of money laundering, terrorism financing or any other financial crime or &nbsp;prohibited activity, we may, at our sole discretion, refuse to accept you as a client, terminate any engagement with you, refuse to process any transaction, and take any other action we deem necessary, including reporting our suspicion to the competent legal authorities. We will not be obligated to inform you of any such action we choose to take, nor to provide you any explanation of our reasons for taking them or for our suspicions.</p>

<p style="margin-left: 40px;">17.3. For the purpose of conducting the abovementioned checks, we &nbsp;may collect certain personal information about you, either from you or from external sources. Any such information about you shall be kept and utilized in accordance with our Privacy Policy. By making any use of the Site and the Services you represent and warrant that all information provided by you to us is correct, accurate and complete, and explicitly consent to the collection of additional information about you from third parties, including financial and credit institutions, governmental authorities and external databases.</p>

<h2>18. Risks</h2>

<p style="margin-left: 40px;">18.1. The trading of goods and products, real or virtual, as well as virtual currencies, involves significant risks. Prices can fluctuate on any given day. Due to such price fluctuations, you may increase or lose value in your assets at any given moment. Any currency, virtual or not, may be subject to large or sudden shifts in value and may even become worthless. There is an inherent risk that losses will occur as a result of buying, selling or trading anything on a market. You should be aware that the risk of loss in trading or holding Digital Currencies can be substantial.</p>

<p style="margin-left: 40px;">18.2. Digital Currency trading also has special risks not generally shared with official currencies or goods or commodities in a market. Unlike most currencies, which are backed by governments or other legal entities, or by commodities such as gold or silver, Digital Currency is a unique kind of currency, backed by technology and trust. There is no central bank or government regulator that can take corrective measures to protect the value of the Digital Currency in a crisis, issue more currency, or balance the price fluctuations.</p>

<p style="margin-left: 40px;">18.3. Instead, Digital Currency is an autonomous and largely unregulated worldwide system of currency firms and individuals. Traders and market participants put their trust in a digital, decentralized and partially anonymous system that relies on peer-to-peer networking and cryptography to maintain its integrity. Thus, the value of Digital Currency may be derived from the continued willingness of market participants to exchange Fiat Currency for Digital Currency, which may result in the potential for permanent and total loss of value of a particular Digital Currency should the market for that Digital Currency disappear.</p>

<p style="margin-left: 40px;">18.4. Digital Currency trading may be susceptible to irrational (or rational) bubbles or loss of confidence, which could collapse relative to demand and supply. For example, confidence in Digital Currency might collapse as a result of unexpected changes imposed by software developers or others, a government crackdown, the creation of superior competing alternative currencies, or a deflationary or inflationary spiral. Confidence might also collapse because of technical problems, for example, if the anonymity of the system is compromised, if money is lost or stolen, or if hackers or governments are able to prevent transactions from settling.</p>

<p style="margin-left: 40px;">18.5. Transactions in the Digital Currency may be irreversible, and, accordingly, losses due to fraudulent or accidental transactions may not be recoverable.</p>

<p style="margin-left: 40px;">18.6. Due to the nature of Digital Currency, any technological difficulties experienced by the Company could prevent the access or use of a Member&rsquo;s Digital Currency.</p>

<p style="margin-left: 40px;">18.7. The abovementioned is not a closed list, there may be additional risks that we have not foreseen or identified in our Terms of Use. You should carefully assess whether your financial standing and tolerance for risk are suitable for buying, selling or trading Digital Currency.</p>

<p style="margin-left: 40px;">18.8. The Company uses banking providers in order to receive your funds and to make payments. Our banking providers do not transfer Digital Currency, exchange Digital Currency, or provide any services in connection with Digital Currency.</p>

<p style="margin-left: 40px;">18.9. Markets for Digital Currency have varying degrees of liquidity. Some are quite liquid while others may be thinner or illiquid. The Company does not guarantee&nbsp;any profit from trading or any other activity associated with the site.</p>

<p style="margin-left: 40px;">18.10. IN LIGHT OF THE ABOVEMENTIONED RISKS, WHICH ARE NOT A COMPREHENSIVE LIST, YOU SHOULD CAREFULLY CONSIDER IF HOLDING DIGITAL CURRENCY IS SUITABLE FOR YOU DEPENDING ON YOUR FINANCIAL CIRCUMSTANCES.</p>

<h2>19. Customer Service</h2>

<p style="margin-left: 40px;">19.1. You hereby expressly consent to us using the contact details provided by you on registration to occasionally contact you directly in relation to your use of the Services or any other products or services offered by us from time to time.</p>

<p style="margin-left: 40px;">19.2. <strong>Customer Feedback</strong>. If you have any questions, feedbacks or complaints, you may contact Company via Company&rsquo;s customer support at&nbsp;<u><a href="mailto:support@coinmama.com">support@coinmama.com</a></u>. Please provide identifying information such as your name, address, and any other information that the Company may need to identify you, your Account, and/or the transaction on which you have feedback, questions, or complaints.</p>

<p style="margin-left: 40px;">19.3. For service quality assurance, calls made by you to the customer service department may be recorded.</p>

<p style="margin-left: 40px;">19.4. We will not tolerate any abusive behavior exhibited by users of the Services to our employees. In the event we deem that your behavior, via telephone, live chat, email or otherwise, has been abusive or derogatory towards any of our employees, we shall have the right to close your Account with us and terminate the Terms of Use and such act will be considered as a breach of the Terms of Use by you.</p>

<h2>20. General Provisions</h2>

<p style="margin-left: 40px;">20.1. <strong>Entire Agreement</strong>.&nbsp; These Terms of Use, comprise the entire understanding and agreements between you and the Company as to the subject matter hereof, and supersedes any and all prior discussions, agreements and understandings of any kind (including without limitation any prior versions of this Agreement), and every nature between you and the Company.</p>

<p style="margin-left: 40px;">20.2. Section headings in this Agreement are for convenience only, and shall not govern the meaning or interpretation of any provision of this Agreement.</p>

<p style="margin-left: 40px;">20.3.&nbsp;<strong>Relationship of the Parties</strong>.&nbsp; Both you and the Company are independent contractors, and nothing in these Terms of Use shall be deemed to create between you and the Company any other form of relationship, and the parties shall not be deemed to be partners, joint ventures or agents. You are not authorized to make any obligations on behalf of the Company.</p>

<p style="margin-left: 40px;">20.4.&nbsp;<strong>Assignment.</strong>&nbsp; You may not assign any rights and/or licenses granted under these Terms of Use, including without limitation, the right to use the Account which is exclusively for your personal use. The Company reserves the right to assign our rights without restriction, including without limitation to any Company affiliates or subsidiaries, or to any successor in interest of any business associated with the Company Services. Any attempted transfer or assignment in violation hereof shall be null and void. Subject to the foregoing, these Terms of Use will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>

<p style="margin-left: 40px;">20.5. <strong>Severability</strong>.&nbsp; If any provision of these Terms of Use shall be determined to be invalid or unenforceable under any rule, law or regulation or any governmental agency, local, state, or federal, such provision will be changed and interpreted to accomplish the objectives of the provision to the greatest extent possible under any applicable law and the validity or enforceability of any other provision of these Terms of Use shall not be affected.</p>

<p style="margin-left: 40px;">20.6. <strong>Change of Control.&nbsp; </strong>In the event that the Company is acquired by or merged with a third party entity, the Company reserves the right, in any of these circumstances, to transfer or assign the information that the Company has collected from you, including any personal information, as part of such merger, acquisition, sale, or other change of control.</p>

<p style="margin-left: 40px;">20.7. <strong>Survival.&nbsp; </strong>All provisions of these Terms of Use which by their nature extend beyond the expiration or termination of these Terms of Use, including, without limitation, sections pertaining to suspension or termination, Company Account cancellation, debts owed to the Company, general use of the Company Site, disputes with Company, and general provisions.</p>

<p style="margin-left: 40px;">20.8. <strong>Disputes and Governing Law</strong>.&nbsp;&nbsp; You and the Company agree that any dispute arising and relating to these Terms of Use shall first be resolved by contacting the other party directly in the attempt to reach an amicable resolution. The Company shall contact you using the information you provided in your Account, and you shall contact the Company as set forth under Section 19.2 (Customer Service).</p>

<p style="margin-left: 40px;">You and the Company agree that any and all controversies and claims that cannot be resolved amicably will submitted to the exclusive jurisdiction of the competent courts located in London, England and shall be governed by the laws of England and Wales without giving effect to its principles or rules of conflict of laws, to the extent such principles or rules are not mandatorily applicable by statute and would permit or require the application of the laws of another jurisdiction.</p>

<p style="margin-left: 40px;">The parties agree to keep confidential all matters relating to the arbitration, including related court proceedings, if any, to the greatest extent practicable. For purposes of this arbitration provision, references to the parties also include respective subsidiaries, affiliates, agents, employees, predecessors, successors and assigns as well as Members or beneficiaries of the Company&rsquo;s Services.</p>

<p style="margin-left: 40px;">20.9. <strong>Force Majeure</strong>.&nbsp; Company shall not be liable for delays, failure in performance or interruption of service which results directly or indirectly from any cause or condition beyond its reasonable control, including, but not limited to, any delay or failure due to any act of God, act of civil or military authorities, act of terrorists, civil disturbance, war, strike or other labor dispute, fire, interruption in telecommunications or Internet services or network provider services, failure of equipment and/or software, other catastrophe or any other occurrence which is beyond Company&rsquo;s reasonable control and shall not affect the validity and enforceability of any remaining provisions.</p>

<p style="margin-left: 40px;">20.10. <strong>English Language Controls</strong>.&nbsp; Any translation of the Terms of Use, if provided, is provided for your convenience alone. The meanings of terms, conditions and representations herein are subject to definitions and interpretations in the English language. Any translation provided may not accurately represent the information in the original English.</p>

        </div>
      </div>